# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment variables file 
.env

# Python virtual environment
venv/
.venv/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.cache/

# Flask stuff:
instance/
*.sqlite
*.db

# Visual Studio Code
.vscode/

# Docker
docker-compose.override.yml
